.badge-bg {
    background-color: #2A067E;
    top: 4px;
}

.menu-item-img {
    border-radius: 5px;
    margin: 20px;
}
.dropdown-menu.cart {
    border-radius: 10px;
    min-width: 246px;
}

.btn.btn-checkout {
    width: 100%;
    background-color: #2A067E;
    color: white;
    border-radius: 4px;
    margin: 0 23px 15px 23px;
    font-size: 16px;
    font-weight: bold;
}
.btn.btn-checkout:hover, .btn:first-child:active.btn-checkout {
    background-color: #2A067E;
    color: white;
}

.mr-50 {
    margin-right: 50px;
}

.borderless {
    border: none !important;
}