.badge-bg {
    background-color: #2A067E;
    top: 4px;
}

.menu-item-img {
    border-radius: 5px;
    margin: 20px;
}

.dropdown-menu.cart {
    border-radius: 10px;
    min-width: 246px;
}

.btn.btn-checkout {
    width: 100%;
    background-color: #2A067E;
    color: white;
    border-radius: 4px;
    margin: 0 23px 15px 23px;
    font-size: 16px;
    font-weight: bold;
}

.btn.btn-checkout:hover,
.btn:first-child:active.btn-checkout {
    background-color: #2A067E;
    color: white;
}

.mr-50 {
    margin-right: 50px;
}

.borderless {
    border: none !important;
}

@media (max-width: 900px) {
    .dropdown-menu.cart.dropdown-menu-end {
        position: absolute;
        top: auto;
        left: auto;
        right: 255px;
        transform: translateX(0);
        border-top: none;
    }
    .dropdown-menu.cart::before {
        right: 110px;
    }

    .hidden {
        display: none;
    }
}
@media (max-width: 767px) {
    .dropdown-menu.cart.dropdown-menu-end {
        right: 25px;
    }
    .dropdown-menu.cart::before {
        right: 114px;
    }
}

.dropdown-menu.cart::before {
    content: "";
    border-bottom: 8px solid #fff;
    /* Change the color to your desired color */
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    transform: translateX(-50%);
    top: -8px;
}

@media (min-width: 1200px) {
    .dropdown-menu.cart::before {
        top: -8px;
        right: 4%;
    }
}

.hidden {
    visibility: hidden;
}