.navbar {
    background-image: url("../../public/navbarBackground.png");
    background-size: cover;
}

.nav-link.header-title {
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.nav-link.header-title:hover {
    color: white;
    cursor: pointer;
}

@media (min-width: 576px) {
    .logo {
        margin-left: 56px;
    }
}