.navbar {
    background-image: url("../../public/navbarBackground.png");
    background-size: cover;

    /* Workaround for some mobile browsers */
    height: 81px;
}
.nav-item {
    margin-right: 45px;
}